/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --dark-color: #21243d;
  --first-color: #ff6464;
  --first-color-alt: #da3939;
  --title-color: #393939;
  --text-color: #707070;
  --text-color-light: #A6A6A6;
  --container-color: #FFFFFF;
  --anchor: #00A8CC;

  /*========== Font and typography ==========*/
  --body-font: 'Heebo', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold:700;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /*====== PADDINGS =========*/
  --padding-small :5px 4px;
}

@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    --deskripsi: 1rem;
    --title: 1.4rem;
  }
}

/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}


body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  line-height: 1.6;
}

h1,h2,h3,p,ul{
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 80%;
  height: auto;
}

/*========== CLASS CSS ==========*/
section{
  margin-top: 20px;
  padding: 1rem 0 0rem;
}

/*========== LAYOUT ==========*/
.bd-container{
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid{
  display: grid;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--container-color);
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

/*========== NAV ==========*/
.nav{
  max-width: 1024px;
  height: var(--header-height);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--container-color);
    transition: .4s;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }
}

.nav__item{
  margin-bottom: var(--mb-2);
}

.nav__link, .nav__logo, .nav__toggle{
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}

.nav__logo:hover{
  color: var(--first-color);
}

.nav__link{
  transition: .3s;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__toggle{
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */
.show-menu{
  top: var(--header-height);
}

/* Active menu */
.active-link{
  color: var(--first-color);
}

/* Change background header */
.scroll-header{
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

/*========= MARGINS ===========*/
.mgdef {
  margin: 20px;
}

/*========== RECENT POSTS ========*/
.trecent{
  padding: 0px 5%;
  font-size: var(--biggest-font-size);
  color: var(--dark-color);
  font-weight: var(--font-bold);
  align-self: center;
  text-align: center;
  justify-self: left;
  order: 1;
  margin-top: 15%;
  margin-left: 3%;
}

.wcolumns{
    align-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 1fr;
    grid-template-areas: 
    "trecent"
    "works"
    "works"
    "works"
    "works";
    justify-content: center;
    gap: 0;
}

.works{
  justify-self: center;
  order: 2;
  border-bottom: 2px solid #e0e0e0;
}

.posttitle{
  font-size: var(--h2-font-size);
  color: var(--dark-color);
  font-weight: var(--font-bold);
  padding: var(--padding-small);
}

.category, .destitle{
  font-size: var(--deskripsi);
  font-weight: var(--font-medium);
  color: var(--dark-color);
  padding: var(--padding-small);
}



/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 576px){

}

@media screen and (min-width: 768px){
  body{
    margin: 0;
  }

  .section{
    padding-top: 8rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list{
    display: flex;
  }
  .nav__item{
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }
}

@media screen and (min-width: 960px){
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }
  .wcolumns{
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr 1fr;
    grid-template-areas: 
    "trecent"
    "works"
    "works"
    "works"
    "works";
  }

  .trecent{
    text-align: left;
    margin-left: 0.5%;
  }
  .works{
    order: 2;
    width: 90%;
  }
  .tview{
    order: 1;
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
    .recentpost{
      height: 100%;
    }
}
